akshare
TA-Lib
mplfinance
baostock
sqlalchemy
pymysql
backtrader
pandas~=2.1.4
starrocks
myTT
torch
scikit-learn
xgboost
transformers
lightgbm==4.1.0
evaluate
ta_cn[cn]
fire
nacos-sdk-python
joblib
quantstats
ipython
optuna==3.4.0
tushare
retrying
statsmodels
backtrader
PyPortfolioOpt